page-sign-in {
    .alert-head {
        background: #ffff !important;
    } 

.sign{
    .scroll-content{
        padding:$mainMarg!important;
        display:flex;
        align-items:center;
        text-align: center;
    }
    .appForm{
        width:100%;
        img{
            @extend .logo;
        }
        h5{
            margin:0px 0px $mainMarg;
            @include whiteNormal(20px,1);
        }
        p{
            color: color($colors,color2);
            @include whiteNormal(20px,1);
            margin:$mainMarg 0px 0px;
        }
    }
}

.logo{
    width:120px;
    margin-bottom:15px;
    object-fit:contain;
}
}