page-profile {
    .header-ios {
        .card-ios{
            margin: 0px !important;
            width: 100% !important;
            .toolbar-ios {
                padding: $navBarPadding;
                .bar-buttons-ios {
                    margin: 0px;
                    display: flex;
                }
                .bar-button-ios {
                    width: $toolbar-ios-height - $navBarPadding*2;
                    height: $toolbar-ios-height - $navBarPadding*2;
                    min-height: 30px;
                    min-width: 30px;
                    padding: 0px;
                    border-radius: $mainRadius;
                    order: 1;
                    position: relative;
                    .badge-ios {
                        @include position(0px, 0px, auto, auto);
                    }
                    .icon {
                        font-size: $headerIconSize!important;
                        min-width: auto!important;
                        color: #ee3020;
                    }
                    &.activated {
                        opacity: 1;
                    }
                    &.bar-button-menutoggle {
                        display: inline-block!important;
                    }
                }
                .toolbar-background-ios {
                    border: none!important;
                    background-color: #fff;
                }
                .title-ios {
                    padding: 0px ($toolbar-ios-height - $mainMarg)*2+$mainMarg/2;
                    .toolbar-title {
                        color: color($colors,light);
                    }
                }
            }
        }
        
    }
    .item-ios [item-right], .item-ios [item-end] {
         margin: 0px !important; 
    }
    .button-ios {
         margin: 0px 0px 0px !important;
        padding: 0px 4px;
        border-radius: 0px;
    }
    .button-ios .button-inner {
        overflow: hidden;
        color: #d21c0c !important;
        //color: #282324 !important;
    }
    .total {
        margin-bottom: 10px !important;
        text-align: right;
        padding: 5px;
        color: #497602 !important;
        background-color: #ebebeb !important;
    }
    background: color($colors, color5);
    .content-ios {
        //background: color($colors, color5);
        .scroll-content {
            padding-bottom: 0px!important;
            >h5 {
                color: color($colors, dark);
                @include whiteNormal($mainHeight, 1);
                padding: 0px $mainMarg;
                margin: 0px;
            }
        }
        .grid {
            padding: $mainMarg/2;
            background: color($colors, color5);
            .col {
                padding: $mainMarg/2;
                &:last-of-type {
                    margin-bottom: 0px;
                }
            }
        } 
            padding: $mainMarg*2;
        }
    
    .working {
        width: 100% !important;
    }
    .dash {
        margin-bottom: 0px;
    }
    .icon.icon-ios {
        font-size: 200px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
    }
    .filters {
        height: auto !important;
        padding: 10px;
    }
    .filta{
    //   text-align: right;
    //   font-family: sans-serif;
    //   font-size: 14px;
    //   float: right;
    margin-top: 60px;
    color:#56970b;
    background-color:#f0f5f4;
    }
    .ion-fab[top][edge] {
        top: 0px !important;     }
    // .fab[mini]{
    //     margin-top: 60px;
    // }
    // .fab-ios{
    //     color:#56970b;
    //     background-color:#f0f5f4;
    // }
    .segment-ios .segment-button.segment-activated {
        color: #fff;
        background-color: #696b65;
        opacity: 1;
        -webkit-transition: 100ms all linear;
        transition: 100ms all linear;
    }
    .segment-ios .segment-button {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 0;
        height: 4.2rem;
        border-width: 1px;
        border-style: solid;
        border-color: #f7f1f1;
        //background-color: #ece5e5;
        background-color: #ebebeb;
        font-size: 1.3rem;
        line-height: 3rem;
        color: #141414;
        font-size: 18px;
        //background-color: transparent;
    }
    .icon.icon-ios {
        font-size: 25px;
    }
    .nordar{
        
        font-size: 200px !important;
           
    }
    
    .appForm .item-ios.item-block .item-inner {
        padding: 0px;
        border: none !important;
        margin-bottom: 8px;
        margin-top: 2px;
    }
    .fab[mini] {
    margin: 0px !important;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .fab{
        width: 48px !important;
        height: 48px !important;
    }
    // .item > ion-icon:first-child, .item-inner > ion-icon:first-child {
    //     text-align: center;
    //     min-width: 10px !important;
    // }
    .ioncon-search{
        .select-item{
            .item-ios.item-block.item-select .select-ios .select-text {
                width: 100%;
                height: 42px;
                line-height: 42px;
                margin-top: 8px;
                font-size: 15px;
                text-align: left;
            }
            margin-top: 12px !important;
                 
             }
             .card-ios1 {
                
                 //margin-left: 4px !important;
                 height: 45px;
             
             }
             .card-ios{
                 margin: 0px !important;
                 width: 100% !important;
                 .toolbar-ios .toolbar-background-ios {
                    border: none !important;
                    background-color: #fff;
                }
             }
    }
    // .appForm .item-ios.item-block.item-select .select-ios .select-text {
    //     width: 100%;
    //     height: 42px;
    //     line-height: 42px;
    //     margin-top: 8px;
    //     font-size: 15px;
    //     text-align: left;
    // }
    .item-ios.item-block {
        padding: 0px;
        background: none;
        min-height: 10px;
        margin-bottom: -10px !important;

    }
    ion-spinner {
        position: relative;
        display: inline-block;
        width: 40px !important;
        height: 40px !important;
        background-color: #fff;
        border-radius: 50% !important;
    }
    .item-ios.item-block {
        margin-bottom: -6px !important;
        margin-top: -5px !important;
        //height: 140px !important;
    }
  
    .segment-ios .segment-button.segment-activated {
        color: #696b65;
        background-color: #fff;
        opacity: 1;
        -webkit-transition: 100ms all linear;
        transition: 100ms all linear;
        border-bottom: 2.5px solid #497602;
        font-size: 25px;
    }
   .headeritem{
       border-bottom: 0px solid #fff !important;
   }
   
   
    
    
}